<div class="bg-dark-c p-3 rounded justify-content-center" id="container-editpass">
    <h2 class="text-center mt-2">Edit Password</h2>
    <%= form_with model: Current.user, url: edit_password_path do |form| %>
        <form>
            <div class="form-floating mb-4 mt-3 text-muted">
                <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
                <%= form.label :password %>
            </div>
            <div class="form-floating mb-4 mt-4 text-muted">
                <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
                <%= form.label :confirm_password %>
            </div>
            <%= form.submit "Update", class: "btn btn-primary mb-2" %>
        </form>
    <% end %>
</div>