<div class="margin-top bg-dark-c p-3 rounded justify-content-center">
    <h2 class="text-center mt-2">Reset your password?</h2>
    <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
        <form>
            <div class="form-floating mb-4 mt-4 text-muted">
                <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
                <%= form.label :password %>
            </div>
            <div class="form-floating mb-4 mt-4 text-muted">
                <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
                <%= form.label :confirm_password %>
            </div>
            <%= form.submit "Reset Password", class: "btn btn-primary mb-2" %>
        </form>
    <% end %>
</div>