<div class="margin-top" style="width: 500px;">
    <div class="bg-dark mt-4 p-3 rounded">
        <h3>Booking Details</h3>
    </div>
    <%= form_for @booking, url: booking_path do |form| %>
    <table class="table table-dark text-light mt-4">
        <% @schedules.each do |data| %>
            <%= form.hidden_field :user_id, value: Current.user.id %>
            <%= form.hidden_field :schedule_id, value: params[:book_id] %>
            <tr>
                <td style="width: 50%;">Departure</td>
                <td style="width: 50%;"><%= data.departure %></td>
            </tr>
            <tr>
            <tr>
                <td>Destination</td>
                <td><%= data.destination %></td>
            </tr>
            <tr>
                <td>Date</td>
                <td><%= data.formatted_date %></td>
            </tr>
            <tr>
                <td>Time</td>
                <td><%= data.formatted_time %></td>
            </tr>
            <tr>
                <td>Seats Available</td>
                <td><%= form.label :seats_available, value: data.seats_available %></td>
            </tr>
            <tr>
                <td>Base Price (&#8369;)</td>
                <td><%= form.label :price, value: data.price, id: "booking_price" %></td>
            </tr>
            <tr>
                <td>Seats</td>
                <td><%= form.number_field :seats, value: 1, min: 1, max: 5 %></td>
            </tr>
            <tr>
                <td>Total Price (&#8369;)</td>
                <td><%= form.label :total_price, value: data.price, id: "total_price" %></td>
                <%= form.hidden_field :total_price, value: data.price %>
            </tr>
            <tr>
                <td>Name</td>
                <td><%= Current.user.name %></td>
                <%= form.hidden_field :name, value: Current.user.name %>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= Current.user.email %></td>
                <%= form.hidden_field :email, value: Current.user.email %>
            </tr>
            <tr>
                <td></td>
                <td><%= form.submit 'Submit', class: "btn btn-primary" %></td>
            </tr>
            <% end %>
        <table>
    <% end %>
</div>
<script>
    var basePrice = document.getElementById('booking_price').innerHTML;
    var numberSlider = document.getElementById('booking_seats');
    var priceField = document.getElementById('total_price');
    var hiddenPriceField = document.getElementById('booking_total_price');
    
    numberSlider.addEventListener('keydown', function(e) {
      e.preventDefault();
    });
    numberSlider.addEventListener('input', function(e) {
      priceField.innerHTML = numberSlider.value * basePrice;
      hiddenPriceField.value = numberSlider.value * basePrice;
    });
</script>