<div class="bg-dark-c p-4 rounded justify-content-center" id="container-signup">
    <h1 class="text-center">Create An Account</h1>
    <%= form_for @user, url: sign_up_path do |form| %>
        <form>
            <div class="form-floating mb-4 mt-4 text-muted">
                <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
                <%= form.label :email %>
            </div>
            <div class="form-floating mb-4 mt-4 text-muted">
                <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
                <%= form.label :name %>
            </div>
            <div class="form-floating mb-4 mt-4 text-muted">
                <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
                <%= form.label :password %>
            </div>
            <div class="form-floating mb-4 mt-4 text-muted">
                <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
                <%= form.label :confirm_password %>
            </div>
            <%= form.submit "Sign Up", class: "btn btn-primary" %>
        </form>
    <% end %>
</div>