<div id="filterrific_results">
    <div class="bg-dark mt-4 p-3 border border-dark rounded w-900">
        <div class="row">
            <% if Current.user && Current.user.name == "ADMIN" %>
                <div class="col-5 d-flex align-items-center">
                    <div><%= page_entries_info schedule %></div>
                </div>
                <div class="col-7 d-flex justify-content-end">
                    <%= link_to 'Add Records', add_schedule_path, class: "btn btn-success", style: "margin-right: 10px;" %>
                    <%= link_to 'Reset Filters', reset_filterrific_url, class: "btn btn-primary" %>
                </div>
            <% else %>
                <div class="col-10 d-flex align-items-center">
                    <div><%= page_entries_info schedule %></div>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <%= link_to 'Reset Filters', reset_filterrific_url, class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
        <%# not working
        <%= render_filterrific_spinner %>
    </div>
    <table class="table table-dark table-striped text-light mt-4">
        <tr>
            <th style="width: 15%; padding-left: 20px !important;">Departure</th>
            <th style="width: 15%;">Destination</th>
            <th style="width: 20%;">Date and Time</th>
            <th style="width: 15%;">Available Seats</th>
            <th style="width: 10%;">Price (&#8369;)</th>
            <th style="width: 15%;"></th>
        </tr>
        <% schedule.each do |data| %>
            <% if data.seats_available != 0 && data.date_time.future? %>
            <tr>
                <td style="padding-left: 20px !important;"><%= data.departure %></td>
                <td><%= data.destination %></td>
                <td><%= data.formatted_date_time %></td>
                <td><%= data.seats_available %></td>
                <td><%= data.price %></td>
                <td style="padding-right: 20px !important;">
                    <% if Current.user && Current.user.name == "ADMIN" %>
                        <%#  %>
                    <% elsif Date.current.strftime('%Y-%m-%d') == data.formatted_date_time_for_comparison %>
                        <%# disable Book button for schedules having the same date as today %>
                    <% else %>
                        <%= link_to 'Book', booking_path(book_id: data.id), class: "btn btn-primary float-end" %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        <% end %>
    </table>
</div>

<%= will_paginate schedule, previous_label: 'Previous', next_label: 'Next'  %>
