<div id="filterrific_results">
    <div class="bg-dark mt-4 p-3 border border-dark rounded w-900">
        <div class="row">
            <div class="col-10 d-flex align-items-center">
                <div><%= page_entries_info schedule %></div>
            </div>
            <div class="col-2 d-flex justify-content-around">
                <div>
                <%= link_to 'Reset Filters', reset_filterrific_url, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
        <%# not working
        <%= render_filterrific_spinner %>
    </div>
    <table class="table table-dark table-strpied text-light mt-4">
        <tr>
            <th>Departure</th>
            <th>Destination</th>
            <th>Date and Time</th>
            <th>Available Seats</th>
        </tr>
        <% schedule.each do |data| %>
            <tr>
                <td><%= data.station %></td>
                <td><%= data.destination %></td>
                <td><%= data.formatted_date_time %></td>
                <td><%= data.seats_available %></td>
            </tr>
        <% end %>
    </table>
</div>

<%= will_paginate schedule, previous_label: 'Previous', next_label: 'Next'  %> 