<div class="d-flex flex-column align-items-center height">
    <%= form_for_filterrific @filterrific do |f| %>
        <div class="d-flex justify-content-center bg-dark p-3 rounded border border-dark row w-1000 margin-top" id="filter-sort-options">    
            <div class="form-group form-dropdown col">
                <%= f.label :departure, class: "h5 heading" %>
                <%= f.select(:by_departure,
                            @filterrific.select_options[:by_departure],
                            { include_blank: 'Default' },
                            { class: "form-control", onchange: "this.form.submit();" }) %>
            </div>
            <div class="form-group form-dropdown col">
                <%= f.label :destination, class: "h5 heading" %>
                <%= f.select(:by_destination,
                            @filterrific.select_options[:by_destination],
                            { include_blank: 'Default'},
                            { class: "form-control", onchange: "this.form.submit();" }) %>
            </div>
            <div class="form-group form-dropdown col">
                <%= f.label :date, class: "h5 heading" %>
                <%= f.select(:by_date,
                            @filterrific.select_options[:by_date],
                            { include_blank: 'Default' },
                            { class: "form-control", onchange: "this.form.submit();" }) %>
            </div>
            <div class="form-group form-dropdown col">
                <%= f.label :sort_by, class: "h5 heading" %>
                <%= f.select(:sorted_by,
                            @filterrific.select_options[:sorted_by],
                            { include_blank: 'Default' },
                            { class: "form-control", onchange: "this.form.submit();" }) %>
            </div>
        </div>
    <% end %>
    <%= render 'schedule', schedule: @schedule %>
</div>
<%= javascript_include_tag 'https://momentjs.com/downloads/moment.js' %>
<%= javascript_include_tag 'dropdown-format.js' %>