<div class="d-flex flex-column align-items-center vh-100">
    <%= form_for_filterrific @filterrific do |f| %>
        <div class="margin-top container row d-flex justify-content-center bg-dark p-3 border border-dark rounded w-1000">    
            <div class="form-group form-dropdown col">
                <%= f.label :departure, class: "h5 heading" %>
                <%= f.select(:by_departure,
                            @filterrific.select_options[:by_departure],
                            { include_blank: 'Default' },
                            { class: "form-control", onchange: "this.form.submit();" }) %>
            </div>
            <div class="form-group form-dropdown col">
                <%= f.label :destination, class: "h5 heading" %>
                <%= f.select(:by_destination,
                            @filterrific.select_options[:by_destination],
                            { include_blank: 'Default'},
                            { class: "form-control", onchange: "this.form.submit();" }) %>
            </div>
            <div class="form-group form-dropdown col">
                <%= f.label :date, class: "h5 heading" %>
                <%= f.select(:by_date,
                            @filterrific.select_options[:by_date],
                            { include_blank: 'Default' },
                            { class: "form-control", onchange: "this.form.submit();" }) %>
            </div>
            <div class="form-group form-dropdown col">
                <%= f.label :sort_by, class: "h5 heading" %>
                <%= f.select(:sorted_by,
                            @filterrific.select_options[:sorted_by],
                            { include_blank: 'Default' },
                            { class: "form-control", onchange: "this.form.submit();" }) %>
            </div>
        </div>
    <% end %>
    <%= render 'schedule', schedule: @schedule %>
</div>
<script>
    var dateDropdown = document.getElementById('filterrific_by_date');
    
    for(let i = 1; i < dateDropdown.options.length; i++) {
        let convertedDate = new Date(dateDropdown.options[i].textContent);
        dateDropdown.options[i].textContent = moment(convertedDate).format('MM/DD/YYYY');
    }
</script>