<div class="margin-top" id="seating-admin-view">
    <div class="bg-dark p-3 rounded">
        <h3>Schedule Passengers</h3>
    </div>
    <% if @bookings.empty? || (Booking.where(schedule_id: params[:book_id]).where(status: "Seats Reserved").empty? &&
        Booking.where(schedule_id: params[:book_id]).where(status: "Booked").empty?) %>
        <div class="bg-dark mt-3 p-3 rounded d-flex align-items-center">
            <div>There are no passengers booked in this schedule.</div>
        </div>
    <% else %>
        <table class="table table-dark text-light mt-4" id="admin-table">
            <tr>
                <th style="width: 25%;">Name</th>
                <th style="width: 30%;">Email</th>
                <th style="width: 15%;">Confirmation</th>
                <th style="width: 10%;" class="text-center">Seats Booked</th>
                <th style="width: 20%;">Seats Selected</th>
            </tr>
            <% @bookings.each do |data| %>
                <% if data.status == "Seats Reserved" || data.status == "Booked" %>
                <tr>
                    <td><%= data.user.name %></td>
                    <td><%= data.user.email %></td>
                    <td><%= data.confirmation %></td>
                    <td class="text-center"><%= data.seats %></td>
                    <td><span class="selected_seats"><%= data.selected_seats %></span></td>
                </tr>
                <% end %>
            <% end %>
        </table>
        <div class="seating-plan mt-5 d-flex justify-content-center">
            <div class="bg-dark p-4 rounded">
                <div class="grid-container">
                    <% @seatings.each do |data| %>
                        <% @seatings.column_names.each_with_index do |col_name, i| %>
                            <% if ['id', 'created_at', 'updated_at', 'schedule_id'].exclude?(col_name) %>
                                <div class="<%= col_name.tr('_', '-') %>">
                                    <%= check_box_tag col_name.to_sym, nil, !(data.send("#{col_name}")) %>
                                    <%= label_tag "#{i}" %>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="my-legend bg-dark p-3 rounded" style="width: 140px; height: 120px;">
                <h5>Legend</h5>
                <div class='legend-scale'>
                    <ul class='legend-labels'>
                        <li><span style='background:#333638;'></span>Not Reserved</li>
                        <li><span style='background:#32CD32;'></span>Reserved</li>
                    </ul>
                </div>
            </div>
        </div>
    <% end %>
</div>
<%= javascript_include_tag 'spelled-to-numeral.js' %>