<% case status %>
<% when "tbp" then status_str, nothing_msg = "Reserved (to be paid)", "There are no bookings made." %>
<% when "appr" then status_str, nothing_msg = "Booked", "There are no bookings that have been approved." %>
<% when "ss" then status_str, nothing_msg = "Seats Reserved", "No seats have been selected." %>
<% end %>
<% reservations = Current.user.name == "ADMIN" ? @admin_table : @user_table %>
<% if reservations.where(status: status_str).empty? %>
<div class="bg-dark p-3 rounded-bottom d-flex align-items-center">
    <div><%= nothing_msg %></div>
</div>
<% else %>
<div class="mb-4">
    <% reservations.each do |data| %>
        <%# next if data.status == "Reserved (to be paid)" && data.schedule.seats_available <= data.seats %>
        <% if data.status == status_str %>
        <div class="card bg-dark">
            <a class="btn text-light card-header" data-bs-toggle="collapse" href="#id-<%= data.id %>">
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <strong>Trip No: </strong><%= data.schedule.id %><br>
                        <%= "<strong>Name: </strong> #{data.user.name} <br>".html_safe if Current.user.name == "ADMIN" %>
                        <%= "<br>".html_safe unless Current.user.name == "ADMIN" %>
                        <strong>Booked on: </strong><%= data.formatted_created_at %>
                    </div>
                    <div class="col">
                        <strong>Departure: </strong><%= data.schedule.departure %><br>
                        <strong>Destination: </strong><%= data.schedule.destination %><br>
                        <strong>Date: </strong><%= data.schedule.formatted_date %><strong> Time: </strong><%= data.schedule.formatted_time %>
                    </div>
                </div>
            </a>
            <div id="id-<%= data.id %>" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <strong>Base Price (&#8369;): </strong><%= data.schedule.price %><br>
                            <strong>Selected Seats: </strong><%= data.seats %><br>
                            <strong>Total Price (&#8369;): </strong><%= data.total_price %><br>
                            <%= "<strong>Email: </strong> #{data.user.email} <br>".html_safe if Current.user.name == "ADMIN" %>
                            <strong>Confirmation Code: </strong><%= data.confirmation %><br>
                            <strong>Status: </strong><%= data.status %><br>
                            <%= "<strong>Selected Seats: </strong><span class=\"selected_seats\"> #{data.selected_seats} </span><br>".html_safe if data.status == "Seats Reserved" %>
                        </div>
                        <div class="col d-flex align-items-end justify-content-end button">
                            <% if Current.user.name == "ADMIN" %>
                                <%= link_to 'Confirm Booking', confirm_path(rsrv_id: data.id), class: "btn btn-primary" if data.status == "Reserved (to be paid)" %>
                            <% else %>
                                <%= form_for @confirmation, url: delete_reservation_path do |form| %>
                                    <%= form.hidden_field :id, value: data.id %>
                                    <%= form.hidden_field :date, value: data.schedule.formatted_date_for_comparison %>
                                    <% if data.status == "Reserved (to be paid)" %>
                                        <% if Date.parse(data.schedule.formatted_date_for_comparison) - 2 <= Date.parse(Date.current.strftime('%Y-%m-%d')) %>
                                            <%= form.submit 'Cancel Booking', class: "btn btn-danger" %>
                                        <% else %>
                                            <%= link_to 'Cancel Booking', confirm_path(rsrv_id: data.id), class: "btn btn-danger" %>
                                        <% end %>
                                    <% elsif data.status == "Booked" %>
                                        <%= link_to 'Select Seats', select_seats_path(sched_id: data.schedule.id, book_id: data.id, limit: data.seats), class: "btn btn-primary" %>
                                    <% elsif data.status == "Seats Reserved" %>
                                        <%= link_to 'View Seat Occupancy', select_seats_path(sched_id: data.schedule.id, view: true, seats: data.selected_seats), class: "btn btn-primary" %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    <% end %>
</div>
<% end %>
<%= javascript_include_tag 'spelled-to-numeral.js' if status_str == "Seats Reserved" %>