<% reservations = Current.user.name == "ADMIN" ? @admin_table : @user_table %>
<% tbp_or_appr_str = tbp_or_appr ? "Reserved (to be payed)" : "Booked" %>
<% nothing_msg = tbp_or_appr ? "There are no bookings made." : "There are no bookings that have been approved." %>
<% if reservations.where(status: tbp_or_appr_str).empty? %>
<div class="bg-dark p-3 rounded-bottom d-flex align-items-center">
    <div><%= nothing_msg %></div>
</div>
<% else %>
<div class="mb-4">
    <% reservations.each do |data| %>
        <% if data.status == tbp_or_appr_str %>
        <div class="card bg-dark">
            <a class="btn text-light card-header" data-bs-toggle="collapse" href="#id-<%= data.id %>">
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <strong>Trip No: </strong><%= data.schedule.id %><br>
                        <% if Current.user.name == "ADMIN" %>
                        <strong>Name: </strong><%= data.user.name %><br>
                        <% end %>
                        <% unless Current.user.name == "ADMIN" %><br><% end %>
                        <strong>Booked on: </strong><%= data.formatted_created_at %>
                    </div>
                    <div class="col">
                        <strong>Departure: </strong><%= data.schedule.departure %><br>
                        <strong>Destination: </strong><%= data.schedule.destination %><br>
                        <strong>Date: </strong><%= data.schedule.formatted_date %><strong> Time: </strong><%= data.schedule.formatted_time %>
                    </div>
                </div>
            </a>
            <div id="id-<%= data.id %>" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <strong>Base Price (&#8369;): </strong><%= data.schedule.price %><br>
                            <strong>Selected Seats: </strong><%= data.seats %><br>
                            <strong>Total Price (&#8369;): </strong><%= data.total_price %><br>
                            <% if Current.user.name == "ADMIN" %>
                            <strong>Email: </strong><%= data.user.email %><br>
                            <% end %>
                            <strong>Confirmation Code: </strong><%= data.confirmation %><br>
                            <strong>Status: </strong><%= data.status %><br>
                        </div>
                        <div class="col d-flex align-items-end justify-content-end">
                            <% if Current.user.name == "ADMIN" %>
                                <%= link_to 'Confirm Booking', confirm_path(rsrv_id: data.id), class: "btn btn-primary" if data.status == "Reserved (to be payed)" %>
                            <% else %>
                                <%= form_for @confirmation, url: delete_reservation_path do |form| %>
                                    <%= form.hidden_field :id, value: data.id %>
                                    <%= form.hidden_field :date, value: data.schedule.formatted_date_for_comparison %>
                                    <% if data.status == "Reserved (to be payed)" %>
                                        <% if Date.parse(data.schedule.formatted_date_for_comparison) - 2 <= Date.parse(Date.current.strftime('%Y-%m-%d')) %>
                                            <%= form.submit 'Cancel Booking', class: "btn btn-danger" %>
                                        <% else %>
                                            <%= link_to 'Cancel Booking', confirm_path(rsrv_id: data.id), class: "btn btn-danger" %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    <% end %>
</div>
<% end %>