<div class="select-seats margin-top">
    <div class="bg-dark p-3 rounded text-center">
        <% if params[:view] %>
            <h3>Seat Occupancy</h3>
            <%= hidden_field_tag :seats, params[:seats] %>
        <% else %>
            <h3>Select Seats</h3>
        <% end %>
    </div>
    <div class="seating-plan mt-3 d-flex justify-content-center">
        <div class="bg-dark p-4 rounded">
            <% @seatings.each do |data| %>
                <%= form_for @book_seats, url: select_seats_path do |form| %>
                    <%= form.hidden_field :limit, value: params[:limit] %>
                    <%= form.hidden_field :book_id, value: params[:book_id] %>
                    <%= form.hidden_field :sched_id, value: data.schedule.id %>
                    <%= form.hidden_field :selected_seats, value: '' %>
                    <div class="grid-container">
                        <% @seatings.column_names.each_with_index do |col_name, i| %>
                            <% if ['id', 'created_at', 'updated_at', 'schedule_id'].exclude?(col_name) %>
                                <div class="<%= col_name.tr('_', '-') %>">
                                    <%= form.check_box col_name.to_sym, { disabled: !(data.send("#{col_name}")) }, false, true %>
                                    <%= form.label col_name.to_sym, "#{i}" %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                    <%= form.submit 'Confirm Seats', class: "btn btn-primary mt-4" unless params[:view] %>
                <% end %>
            <% end %>
        </div>
        <div class='my-legend bg-dark p-3 rounded'>
            <h5>Legend</h5>
            <div class='legend-scale'>
                <ul class='legend-labels'>
                    <li><span style='background:#333638;'></span>Available</li>
                    <li><span style='background:#FF0000;'></span>Reserved</li>
                    <li><span style='background:#32CD32;'></span>Selected</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'seat-selection.js' unless params[:view] %>
<%= javascript_include_tag 'seat-view.js' if params[:view] %>