<% is_admin = Current.user.name == "ADMIN" %>
<% path = is_admin ? confirm_reservation_path : delete_reservation_path %>
<div class="bg-dark p-3 rounded margin-top confirm-cancel">
    <h3>Confirm <%= if is_admin then "Booking" else "Cancellation" end %></h3>
    <hr>
    <% if is_admin then "Confirm this booking?" else "Are you sure you want to cancel this booking?" end %>  
    <h5>Booking Details:</h5>
    <% @reservations.each do |data| %>
        <strong>Trip No: </strong><%= data.id %><br>
        <strong>Booked on: </strong><%= data.formatted_created_at %><br>
        <strong>Name: </strong><%= data.user.name %><br>
        <strong>Email: </strong><%= data.user.email %><br>
        <strong>Confirmation Code: </strong><%= data.confirmation %><br>
        <strong>Departure: </strong><%= data.schedule.departure %><br>
        <strong>Destination: </strong><%= data.schedule.destination %><br>
        <strong>Date: </strong><%= data.schedule.formatted_date %><br>
        <strong>Time: </strong><%= data.schedule.formatted_time %><br>
        <strong>Base Price (&#8369;): </strong><%= data.schedule.price %><br>
        <strong>Seats: </strong><%= data.seats %><br>
        <strong>Total Price (&#8369;): </strong><%= data.total_price %><br>
        <strong>Status: </strong><%= data.status %>
        <%= form_for @confirmation, url: path do |form| %>
            <%= form.hidden_field :id, value: data.id %>
            <% if is_admin %>
                <%= form.hidden_field :schedule_id, value: data.schedule.id %>
                <%= form.hidden_field :seats, value: data.seats %>
                <%= form.hidden_field :seats_available, value: data.schedule.seats_available %>
            <% else %>
                <%= form.hidden_field :date, value: data.schedule.formatted_date_for_comparison %>
            <% end %>
            <div class="d-flex justify-content-between mt-3">
                <%= form.submit 'Confirm', class: "btn btn-danger" %>
                <%= link_to 'Go Back', reservations_path, class: "btn btn-primary" %>
            </div>
        <% end %>
    <% end %>
</div>