<% if Current.user && Current.user.name == "ADMIN" %>
    <% reservations = Booking.all %>
<% else %>
    <% reservations = @reservations %>
<% end %>
<div class="margin-top" style="width: 620px;">
    <div class="bg-dark p-3 rounded">
        <h3>Reservations</h3>
    </div>
    <% if Current.user.nil? || reservations.empty? %>
        <div class="bg-dark mt-3 p-3 rounded d-flex align-items-center">
            <div>There are no bookings made.</div>
        </div>
    <% else %>
    <div id="accordion" class="mt-3 mb-4">
        <% reservations.reverse().each do |data| %>
        <div class="card bg-dark">
            <a class="btn text-light card-header" data-bs-toggle="collapse" href="#id-<%= data.id %>">
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <strong>Name: </strong><%= data.user.name %><br><br>
                        <strong>Booked on: </strong><%= data.formatted_created_at %>
                    </div>
                    <div class="col">
                        <strong>Departure: </strong><%= data.schedule.departure %><br>
                        <strong>Destination: </strong><%= data.schedule.destination %><br>
                        <strong>Date and Time: </strong><%= data.schedule.formatted_date_time %>
                    </div>
                </div>
            </a>
            <div id="id-<%= data.id %>" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <strong>Base Price (&#8369;): </strong><%= data.schedule.price %><br>
                            <strong>Selected Seats: </strong><%= data.seats %><br>
                            <strong>Total Price (&#8369;): </strong><%= data.total_price %><br>
                            <strong>Email: </strong><%= data.user.email %><br>
                            <strong>Confirmation Code: </strong><%= data.confirmation %><br>
                            <strong>Status: </strong><%= data.status %><br>
                        </div>
                        <div class="col d-flex align-items-end justify-content-end">
                            <% if Current.user && Current.user.name == "ADMIN" %>
                                <%= link_to 'Confirm Booking', confirm_path(rsrv_id: data.id), class: "btn btn-primary" if data.status == "Reserved (to be payed)" %>
                            <% else %>
                                <%= form_for @confirmation, url: del_rsrv_path do |form| %>
                                    <%= form.hidden_field :id, value: data.id %>
                                    <%= form.hidden_field :datetime, value: data.schedule.formatted_date_time_for_comparison %>
                                    <% if data.status == "Reserved (to be payed)" %>
                                        <% if Date.current.strftime('%Y-%m-%d') == data.schedule.formatted_date_time_for_comparison %>
                                            <%= form.submit 'Cancel Booking', class: "btn btn-danger" %>
                                        <% else %>
                                            <%= link_to 'Cancel Booking', confirm_path(rsrv_id: data.id), class: "btn btn-danger" %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</div>