<!DOCTYPE html>
<html>
  <head>
    <title>J-STAR Bus Reservations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <body>
    <nav class="navbar navbar-expand bg-dark navbar-dark top-nav">
      <div class="container-fluid">
        <div class="navbar-header" id="navcon" style="margin-left: 10px;">
          <%= link_to 'J-STAR', root_path, class: "navbar-brand text-secondary" %>
        </div>
        <div class="navbar-right">
          <ul class="navbar-nav ">
          <% if Current.user %>
            <%= link_to 'Schedule', root_path, class: "nav-link", style: "margin-right: 10px;" %>
            <%= link_to 'Reservations', reservations_path, class: "nav-link", style: "margin-right: 10px;" %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="margin: 0 10px;" role="button" data-bs-toggle="dropdown">
                <%= Current.user.name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end navbar-right">
                <li><%= link_to 'Profile', profile_path, class: "dropdown-item" unless Current.user.name == "ADMIN" %>
                <li><%= link_to 'Logout', logout_path, method: :delete, class: "dropdown-item" %>
              </ul>
            </li>
          <% else %>
            <ul class="container-dropdown row" id="navcon">
              <%= link_to 'Sign Up', sign_up_path, class: "nav-link col", style: "width: 90px;" %>
              <%= link_to 'Login', sign_in_path, class: "nav-link col" %>
            </ul>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible text-center" id="alert" role="alert">
        <%= value %>
        <a href="#" class="close text-right" id="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <% end %>
    <div class="main-background container-fluid text-light d-flex align-items-center justify-content-center" id="main-height">
      <%= yield %>
    </div>
  </body>
</html>
