<!DOCTYPE html>
<html>
  <head>
    <title>Bus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
    #alert {
      position: absolute;
      width: auto;
      top: 5%;
      left: 50%;
      padding: 0.75rem 0.75rem;
      transform: translate(-50%, 0);
    }
  </style>
  <body>
    <nav class="navbar navbar-expand bg-dark navbar-dark">
      <div class="container-fluid">
        <div class="navbar-header" id="navcon">
          <%= link_to 'WebsiteName', root_path, class: "navbar-brand text-secondary" %>
        </div>
        <div class="navbar-right">
        <ul class="navbar-nav ">
        <% if Current.user %>
          <li class="nav-item dropdown">
            <a class="nav-link nav-logged-in dropdown-toggle" id="idDropdown" role="button" data-bs-toggle="dropdown">
              <%= Current.user.firstname %> <%= Current.user.lastname %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end navbar-right">
              <li><%= link_to 'Profile', profile_path, class: "dropdown-item" %>
              <li><%= link_to 'Logout', logout_path, method: :delete, class: "dropdown-item" %>
            </ul>
          </li>
        <% else %>
          <ul class="container-dropdown" id="navcon">
            <%= link_to 'Sign Up', sign_up_path, id: "nav-logged-out" %>
            <%= link_to 'Login', sign_in_path, id: "nav-logged-out" %>
          </ul>
        <% end %>
        </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible text-center" id="alert" role="alert">
        <%= value %>
        <a href="#" class="close text-right" id="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <% end %>
    <div class="container-fluid bg-secondary text-light d-flex flex-column" id="main-height">
      <%= yield %>
    </div>
  </body>
</html>
