<!DOCTYPE html>
<html>
  <head>
    <title>Bus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand bg-dark navbar-dark top-nav">
      <div class="container-fluid">
        <div class="navbar-header" id="navcon">
          <%= link_to 'WebsiteName', root_path, class: "navbar-brand text-secondary" %>
        </div>
        <div class="navbar-right">
          <ul class="navbar-nav">
            <%= link_to 'Reservations', reservations_path, class: "nav-link" %>
            <% if Current.user %>
              <li class="nav-item-dropdown">
                <a class="nav-link dropdown-toggle" id="profile" role="button" data-bs-toggle="dropdown">
                  <%= Current.user.name %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end navbar-right">
                  <li><%= link_to 'Logout', logout_path, method: :delete, class: "dropdown-item" %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible text-center" id="alert" role="alert">
        <%= value %>
        <a href="#" class="close text-right" id="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <% end %>
    <div class="container-fluid text-light d-flex flex-column align-items-center" id="main-height">
      <%= yield %>
    </div>
  </body>
  <script>
    var basePrice = parseInt(document.getElementById('basePrice').textContent);
    var numberSlider = document.querySelector('#numberSlider');
    var totalPriceField = document.querySelector('#totalPrice');
    numberSlider.addEventListener('input', function() {
        totalPriceField.innerHTML = basePrice * parseInt(numberSlider.value);
    });
    document.querySelector('#numberSlider').addEventListener('keydown', function(e) {
      e.preventDefault();
      return false;
    });
    document.getElementById('booking_total_price').value = parseInt(document.getElementById('totalPrice').innerHTML);
    document.getElementById('booking_seats').value = parseInt(document.getElementById('numberSlider').value);
    
    document.getElementById('numberSlider').addEventListener('input', function(e) {
      document.getElementById('booking_total_price').value = parseInt(document.getElementById('totalPrice').innerHTML);
      document.getElementById('booking_seats').value = parseInt(document.getElementById('numberSlider').value);
    });
  </script>
</html>
