<!DOCTYPE html>
<html>
  <head>
    <title>J-STAR Bus Reservations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand bg-dark navbar-dark top-nav">
      <div class="container-fluid">
        <div class="navbar-header" id="navcon">
          <%= link_to 'J-STAR', root_path, class: "navbar-brand text-secondary" %>
        </div>
        <div class="navbar-right">
          <ul class="navbar-nav ">
          <%= link_to 'Reservations', reservations_path, class: "nav-link" %>
          <% if Current.user %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="margin-left: 15px;" role="button" data-bs-toggle="dropdown">
                <%= Current.user.name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end navbar-right">
                <li><%= link_to 'Profile', profile_path, class: "dropdown-item" %>
                <li><%= link_to 'Logout', logout_path, method: :delete, class: "dropdown-item" %>
              </ul>
            </li>
          <% else %>
            <ul class="container-dropdown row" id="navcon">
              <%= link_to 'Sign Up', sign_up_path, class: "nav-link col", style: "width: 90px;" %>
              <%= link_to 'Login', sign_in_path, class: "nav-link col", style: "margin-right: -10px;" %>
            </ul>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible text-center" id="alert" role="alert">
        <%= value %>
        <a href="#" class="close text-right" id="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <% end %>
    <div class="container-fluid text-light d-flex flex-column align-items-center" id="main-height">
      <%= yield %>
    </div>
  </body>
  <script>
    var basePrice = document.getElementById('booking_price').innerHTML;
    var numberSlider = document.getElementById('booking_seats');
    var priceField = document.getElementById('total_price');
    var hiddenPriceField = document.getElementById('booking_total_price');
    
    numberSlider.addEventListener('keydown', function(e) {
      e.preventDefault();
    });
    numberSlider.addEventListener('input', function(e) {
      priceField.innerHTML = numberSlider.value * basePrice;
      hiddenPriceField.value = numberSlider.value * basePrice;
    });
  </script>
</html>
