<!DOCTYPE html>
<html>
  <head>
    <title>J-STAR Bus Reservations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark" id="top-nav">
      <div class="container-fluid">
        <div class="navbar-header" id="navcon" style="margin-left: 10px;">
          <%= link_to 'J-STAR', root_path, class: "navbar-brand text-secondary" %>
        </div>
        <div class="navbar-right">
          <ul class="navbar-nav ">
          <% if Current.user %>
            <%= link_to 'Schedule', root_path, class: "nav-link", style: "margin-right: 10px;" %>
            <%= link_to 'Reservations', reservations_path, class: "nav-link", style: "margin-right: 10px;" %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="margin: 0 10px;" role="button" data-bs-toggle="dropdown">
                <%= Current.user.name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end navbar-right">
                <li><%= link_to 'Profile', profile_path, class: "dropdown-item" unless Current.user.name == "ADMIN" %>
                <li><%= link_to 'Logout', logout_path, method: :delete, class: "dropdown-item" %>
              </ul>
            </li>
          <% else %>
            <ul class="container-dropdown row" id="navcon">
              <%= link_to 'Sign Up', sign_up_path, class: "nav-link col", style: "width: 90px;" %>
              <%= link_to 'Login', sign_in_path, class: "nav-link col" %>
            </ul>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, msg| %>
      <div class="alert alert-<%= key %> alert-dismissible" id="alert" role="alert">
        <% if msg.size > 1 && msg.is_a?(Array) %>
          <div id="mult-err-msg">
            <div class="d-flex justify-content-between">
              You got the following errors:
              <a href="#" class="close text-right" id="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            <ul>
              <% msg.each do |err| %>
                <li><%= err %></li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <% if msg.is_a?(Array) %>
            <%= msg[0] %>
          <% else %>
            <%= msg %>
          <% end %>
          <a href="#" class="close text-right" id="close" data-dismiss="alert" aria-label="close">&times;</a>
        <% end %>
      </div>
    <% end %>
    <div class="d-flex justify-content-center container-fluid text-light height" id="main-background">
      <%= yield %>
    </div>
  </body>
</html>
